.table-actions .material-icons {
    font-size: 20px;
    cursor: pointer;
}

/* DataTable Controls */
.dt-search,
.dt-length {
    display: none;
}

.datatable-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.badge-role {
    font-weight: 500;
    padding: 5px 10px;
}

